<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        Wartość z ciastka 1: <%= cookieValue %>
        <br><br>
        Wartość z ciastka 2: <%= another_cookieValue %>
        <button>Usuń ciastko</button>
    </form>
    
</body>
</html>